.input
{
    height: 35px;
    width: 250px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    background: none;
    color: #fff;
    padding: 0 5px;
    outline: none;
}
.button
{
    width: 100px;
    height: 30px;
    font-size: 12px;
    background: none;
    border: 1px solid whitesmoke;
    margin-left: 10px;
    color: whitesmoke;
    cursor: pointer;
    transition: .3;
    &:hover
    {
        background: whitesmoke;
        color: #000;
    }
}
.item
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: move;
    width: 220px;
    color: #000;
    padding: 15px;
    border-radius: 5px;
    p
    {
        height: 100%;
        width: 150px;
        margin: 0 auto;
        word-wrap: break-word;
    }
    button
    {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        cursor: pointer;
    }
    .items
    {
        position: relative;
        display: flex;
        .stars
        {
            width: 20px;
            height: 20px;
            clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
            margin-right: 5px;
            cursor: pointer;
        }
    }
}